services:
  coredns:
    image: coredns/coredns
    restart: unless-stopped
    networks:
      - coredns
      - dnstap-collector
    ports:
      - 53:53/tcp
      - 53:53/udp
    volumes:
      - ./Corefile:/Corefile:ro
    profiles:
      - coredns

  dnstap-collector:
    image: gbenson/hive-dnstap-collector
    restart: unless-stopped
    networks:
      - dnstap-collector
      - "${RABBITMQ_NETWORK:-dnstap-collector-msgbus}"
    extra_hosts:
      - "${RABBITMQ_HOST_IP:-message-bus=127.0.1.1}"
    secrets:
      - rabbitmq.env
    profiles:
      - coredns

  dnstap-integrator:
    image: gbenson/hive-dnstap-integrator
    restart: unless-stopped
    networks:
      - "${RABBITMQ_NETWORK:-dnstap-integrator-msgbus}"
    extra_hosts:
      - "${RABBITMQ_HOST_IP:-message-bus=127.0.1.1}"
    secrets:
      - rabbitmq.env
      - dnstap.yml
    profiles:
      - rabbitmq

networks:
  coredns:
  dnstap-collector:
    internal: true
  dnstap-collector-msgbus:
  dnstap-integrator-msgbus:
