services:
  nginx-ingress:
    image: nginx
    restart: unless-stopped
    networks:
      - nginx-ingress
      - mediawiki-fpm
      - ollama-connector
      - container-registry
    ports:
      - 443:443/tcp
    volumes:
      - hive_certdist_host:/etc/letsencrypt:ro
      - hive_static_webroot:/usr/share/nginx/html:ro
      - hive_mediawiki_static:/usr/share/nginx/mediawiki-static:ro
      - hive_mediawiki_uploads:/usr/share/nginx/mediawiki-uploads:ro
      - ./default.conf.template:/etc/nginx/templates/default.conf.template:ro
      - ./snippets:/etc/nginx/snippets:ro
      - ./container-setup.sh:/docker-entrypoint.d/00-hive-container-setup.envsh:ro
      - ./api-gateway-setup.sh:/docker-entrypoint.d/90-hive-api-gateway-setup.sh:ro
    secrets:
      - container-registry.htpasswd
      - hostnames.env
      - mediawiki.htpasswd
      - mediawiki-paths.env
      - ollama.htpasswd
      - ollama-path.env
    profiles:
      - ingress

networks:
  nginx-ingress:

volumes:
  hive_static_webroot:
    external: true
