include:
  - path: services/certbot/docker-compose.yml
  - path: services/chat-router/docker-compose.yml
  - path: services/container-registry/docker-compose.yml
  - path: services/dns/docker-compose.yml
  - path: services/email-receiver/docker-compose.yml
  - path: services/event-vault/docker-compose.yml
  - path: services/git/docker-compose.yml
  - path: services/llm-chatbot/docker-compose.yml
  - path: services/logging/docker-compose.yml
  - path: services/matrix-connector/docker-compose.yml
  - path: services/mediawiki-fpm/docker-compose.yml

  - path: services/nginx-ingress/docker-compose.yml
    env_file:
      - $HOME/.config/hive/hostnames.env
      - $HOME/.config/hive/mediawiki-paths.env
      - $HOME/.config/hive/ollama-path.env

  - path: services/ollama/docker-compose.yml

  - path: services/rabbitmq/docker-compose.yml
    env_file:
      - $HOME/.config/hive/rabbitmq.env

  - path: services/reading-list-updater/docker-compose.yml

secrets:
  backup-server.env:
    file: $HOME/.config/hive/backup-server.env
  certdist-config.json:
    file: $HOME/.config/hive/certdist-config.json
  certdist-mono-server-id_ed25519:
    file: $HOME/.config/hive/certdist-mono-server-id_ed25519
  certdist-mono-client-id_ed25519.pub:
    file: $HOME/.config/hive/certdist-mono-client-id_ed25519.pub
  certdist-server.env:
    file: $HOME/.config/hive/certdist-server.env
  certdist-client-id_ed25519:
    file: $HOME/.config/hive/certdist-id_ed25519
  chatbot.yml:
    file: $HOME/.config/hive/chatbot.yml
  container-registry-backup-client-id_ed25519:
    file: $HOME/.config/hive/container-registry-backup-client-id_ed25519
  container-registry-backup-passphrase:
    file: $HOME/.config/hive/container-registry-backup-passphrase
  container-registry.htpasswd:
    file: $HOME/.config/hive/container-registry.htpasswd
  dnstap.yml:
    file: $HOME/.config/hive/dnstap.yml
  email.yml:
    file: $HOME/.config/hive/email.yml
  git-backup-client-id_ed25519:
    file: $HOME/.config/hive/git-backup-client-id_ed25519
  git-backup-passphrase:
    file: $HOME/.config/hive/git-backup-passphrase
  hostnames.env:
    file: $HOME/.config/hive/hostnames.env
  log-ingester.env:
    file: $HOME/.config/hive/log-ingester.env
  matrix.yml:
    file: $HOME/.config/hive/matrix.yml
  mediawiki-mariadb.env:
    file: $HOME/.config/hive/mediawiki-mariadb.env
  mediawiki-paths.env:
    file: $HOME/.config/hive/mediawiki-paths.env
  mediawiki-settings.env:
    file: $HOME/.config/hive/mediawiki-settings.env
  mediawiki.htpasswd:
    file: $HOME/.config/hive/mediawiki.htpasswd
  mediawiki.yml:
    file: $HOME/.config/hive/mediawiki.yml
  mediawiki-database-backup-client-id_ed25519:
    file: $HOME/.config/hive/mediawiki-database-backup-client-id_ed25519
  mediawiki-database-backup-passphrase:
    file: $HOME/.config/hive/mediawiki-database-backup-passphrase
  mediawiki-uploads-backup-client-id_ed25519:
    file: $HOME/.config/hive/mediawiki-uploads-backup-client-id_ed25519
  mediawiki-uploads-backup-passphrase:
    file: $HOME/.config/hive/mediawiki-uploads-backup-passphrase
  ollama.htpasswd:
    file: $HOME/.config/hive/ollama.htpasswd
  rabbitmq.env:
    file: $HOME/.config/hive/rabbitmq.env
