server {
    listen 443 ssl default_server;
    server_name $DEFAULT_HOSTNAME;
    ssl_certificate /etc/letsencrypt/live/$DEFAULT_HOSTNAME/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/$DEFAULT_HOSTNAME/privkey.pem;
    server_tokens off;
    http2 on;

    location / {
        root /usr/share/nginx/html;
    }
}
