hive-chat>=0.1.4
hive-common[brotli,httpx,zstd,langchain]>=0.3.0
hive-email>=0.0.2
hive-mediawiki>=0.0.5
hive-messaging>=0.15.1
hive-service>=0.2.0

beautifulsoup4
html2text
imapclient
lxml
pyspellchecker
requests
valkey
