hive-common[brotli,httpx,zstd,langchain-ollama]>=0.4.1
hive-email>=0.0.2
hive-mediawiki>=0.0.5
hive-messaging>=0.16.4
hive-service>=0.2.1

beautifulsoup4
html2text
humanize
imapclient
lxml
pyspellchecker
requests
valkey
